body {
  font-family: 'Ubuntu', sans-serif;
  background-image: url(images/bgimg.jpg);
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1, p, span {
  color: #fff;
}

.heading {
  font-size: 4rem;
}

.countdown-container {
  display: flex;
  margin: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

.big-text {
  font-size: 6rem;
  line-height: 1;
  margin: 0 2rem;
}

.countdown-el {
  text-align: center;
}

.countdown-el span {
  font-size: 1.5rem;
}
